

<section class="overallCases_inIndia">
    <div class="panel">
        <div class="caseslist">
            <div style="flex-grow: 7;" class="heading">
                <h2 class="mat-title covid-title" >
                    COVID-19 IN INDIA
                </h2>
                <p class="mat-small update">Updated On: {{overallcasesinindia?.lastRefreshed | date:"medium"}} </p>
            </div>
            <div style="flex-grow: 3" class="info">
                <h5 class="mat-body-2" style="color: rgb(0,104,225);">TOTAL CASES</h5>
                <p class="d-info">{{overallcasesinindia?.data?.summary.total | number}} </p>
            </div>
            <div style="flex-grow: 3" class="info">
                <h5 class="mat-body-2" style="color: rgb(0,225,0);"> TOTAL RECOVERED </h5>
                <p class="d-info">{{overallcasesinindia?.data?.summary.discharged | number}} </p>
            </div>
            <div style="flex-grow: 3" class="info">
                <h5 class="mat-body-2" style="color: rgb(225,0,0);"> TOTAL DEATHS </h5>
                <p class="d-info">{{overallcasesinindia?.data?.summary.deaths | number}} </p>
            </div>
        </div>
    </div>
</section>

