.panel{
  width: 70%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row-reverse;
}
.default_login-section{
  // width: 40%;
  background-color: #ffffff;
  // flex:1;
}
.login{
  // width: 60%;
  background-color: indigo;
  padding: 100px 50px;
  .title-social{
    display: flex;
    img{
      width: 32px;
      height: 32px;
    }
    .mat-title{
      color: #ffffff;
      padding-left: 5px;
      padding-right:5px;
    }
  }
  .title-caption{
    color: #ffffff;
  }
}
