<!-- <toolbar></toolbar> -->
<!-- <section>
    <div class="panel">
        <div class="default_login-section">
            <form action="">
                <mat-form-field>
                    <mat-label>Your Name</mat-label>
                    <input matInput type="text" autocomplete="off" placeholder="Enter your name">
                </mat-form-field>
            </form>
        </div>
        <div class="login">
            <div class="title-social">
                <img src="assets/images/site-logo.png" alt="">
                <h2 class="mat-title">THE 24 SPOKES</h2>
            </div>
            <p class="title-caption">Login using social media to get quick access</p>
        </div>   
    </div>
</section>
<covidcases></covidcases> -->