.news{
    .topheadlines{
        width: 80%;
        margin:0 auto;
        .topheadlinesinindia{
            display: flex;
            flex-wrap: wrap;
            mat-card{
                // flex: 8;
                margin: 10px;
                width: 398px;
            }
        }
    }
}