<section class="coronavirus">
    <mat-card class="coronavirus-card">
        <mat-card-title class="coronavirus-heading">
            <h2 class="mat-title">Coronavirus Cases Across The Globe</h2>
        </mat-card-title>
        <mat-card-subtitle class="coronavirus-subheading">
            <h3 class="mat-subheading-2">
                <span>c</span>
                <span class="material-icons virus-icon">coronavirus</span>
                <span>v</span>
                <span>i</span>
                <span>d</span>
                <span>-</span>
                <span>19</span>
            </h3>
        </mat-card-subtitle>
    </mat-card>
</section>

<mat-card class="viruscases-info-card">
    <div class="viruscases-info">
        <div class="column">
            <div class="subcolumn1">
                <h4 class="mat-h4">New Confirmed Cases</h4>
                <h6 class="mat-body" style="color: orange; margin:0 10px;font-weight: 500;">{{coronacasesinfo.Global.NewConfirmed}}</h6>
            </div>
            <div class="subcolumn2">
                <h4 class="mat-h4">Total Confirmed Cases</h4>
                <p class="mat-body" style="color: orange; margin:0 10px;font-weight: 500;">{{coronacasesinfo.Global.TotalConfirmed}}</p>
            </div>
        </div>
        <div class="column">
            <div class="subcolumn1">
                <h4 class="mat-h4">New Recovered Cases</h4>
                <h6 class="mat-body" style="color: green; margin:0 10px;font-weight: 500;">{{coronacasesinfo.Global.NewRecovered}}</h6>
            </div>
            <div class="subcolumn2">
                <h4 class="mat-h4">Total Recovered Cases</h4>
                <p class="mat-body" style="color: green; margin:0 10px;font-weight: 500;">{{coronacasesinfo.Global.TotalRecovered}}</p>
            </div>
        </div>
        <div class="column">
            <div class="subcolumn1">
                <h4 class="mat-h4">New Deaths</h4>
                <h6 class="mat-body" style="color: red; margin:0 10px;font-weight: 500;">{{coronacasesinfo.Global.NewDeaths}}</h6>
            </div>
            <div class="subcolumn2">
                <h4 class="mat-h4">Total Deaths</h4>
                <p class="mat-body" style="color: red; margin:0 10px;font-weight: 500;">{{coronacasesinfo.Global.TotalDeaths}}</p>
            </div>
        </div>
    </div>
    <div class="lastupdated">
        <p class="mat-small">Last Updated</p>
        <p class="mat-small" style="color: #444444;">{{coronacasesinfo.Date}}</p>
    </div>
</mat-card>

<section class="allcountrieslist_btn">
    <button mat-raised-button color="primary">Coronavirus Effected Countries</button>
</section>

<section class="countries-effected">
    <div class="filter">
        <mat-form-field class="filter-field">
            <mat-label>Country Wise List</mat-label>
            <input matInput type="text" placeholder="search by country" [(ngModel)]="searchCountry">
        </mat-form-field>
    </div>
   <div class="country">
       <mat-card *ngFor = "let covid19 of coronacasesinfo.Countries | filter:searchCountry">
           <mat-card-header>
                <maticard-image>
                </maticard-image>
               <mat-card-title>{{covid19.Country}}</mat-card-title>
           </mat-card-header>
           <mat-card-content>
               <div class="columncases">
                   <p>New Confirmed Cases</p>
                   <p style="margin: 0 10px; color: orange; font-weight: 500;" >{{covid19.NewConfirmed}}</p>
               </div>
               <div class="columncases">
                    <p>Total Confirmed Cases</p>
                    <p style="margin: 0 10px;color: orange; font-weight: 500;">{{covid19.TotalConfirmed}}</p>
                </div><br>
                <div class="columncases">
                    <p>New Recovered Cases</p>
                    <p style="margin: 0 10px;color: green; font-weight: 500;">{{covid19.NewRecovered}}</p>
                </div>
                <div class="columncases">
                     <p>Total Recovered Cases</p>
                     <p style="margin: 0 10px;color: green; font-weight: 500;">{{covid19.TotalRecovered}}</p>
                 </div><br>
                 <div class="columncases">
                    <p>New Deaths </p>
                    <p style="margin: 0 10px;color: red; font-weight: 500;">{{covid19.NewDeaths}}</p>
                </div>
                <div class="columncases">
                     <p>Total Deaths </p>
                     <p style="margin: 0 10px; color: red; font-weight: 500;">{{covid19.TotalDeaths}}</p>
                 </div>
           </mat-card-content>
           <mat-card-action>
               <div class="date">
                   <p class="mat-small">Last Updated</p>
                   <p class="mat-small" style="color: #444444;">{{covid19.Date}}</p>
               </div>
           </mat-card-action>
       </mat-card>
   </div>
</section>
