*{
    margin: 0;
    padding: 0;
}
.site_title{
    margin: 20px auto;
    text-align: center;
}
.main-nav{
    background-color: white;
}
.mat-drawer-container{
    position: fixed;
}
.mat-drawer-content{
    background-color: #ffffff;
}
.covid_india-card{
    width: 80%;
    margin:20px auto;
    
    .covid_india-info{
        display: flex;
        flex-wrap: wrap;
        .covid-title{
            flex-grow:1;
            .heading{
                .virusicon{
                    .material-icons{
                        font-size:36px; color: #d9534f;
                    }
                }
                .mat-title{
                    color:#d9534f;
                    line-height:2;
                }
            }
        }
        .covid-india-content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            & > div{
                // background-color: #17a2b8 ;
                padding: 15px;
            }
            & > div > h5{
                margin-bottom: 5px;
                letter-spacing: 1px;
            }
            & > div > p{
                font-weight: 500;
            }
        }
    }
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 0 10px #dddddd;
}
mat-sidenav-content{
    padding:130px 0 0 0;
}
.breaking_news{
    padding: 25px 0px;
}
.breaking_news-card{
    width: 80%;
    margin:0px auto;
    
}
.breaking_news-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breaking_news-title .mat-title{
    background-color: red;
    color: ivory;
    width: 30%;
    text-align: center;
    padding: 10px 15px 10px 10px;
}
@media screen and (max-width:768px){
    .breaking_news-title .mat-title{
        width: 100%;
    }
}