<mat-toolbar color="primary">
  <mat-toolbar-row  class="sasl mat-elevation-z6">
   <div class="site-title">
    <div class="logo-text">
      <img src="assets/images/site-logo.png" alt="" width="32px" height="32px">
      <h1 class="mat-tltle" style="padding-left: 9px;">THE 24 SPOKES</h1>
    </div>
   </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu-nav">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="menu_nav" fxShow="true" fxHide.lt-md>
      <a href="#" mat-button>Home</a>
      <a href="#" mat-button>News</a>
      <a href="#" mat-button>Coronavirus</a>
      <a href="#" mat-button>Business</a>
      <a href="#" mat-button>Opinions</a>
      <a href="#" mat-button>Technology</a>
      <a href="#" mat-button>Sports</a>
      <a href="#" mat-button>Entertainment</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container  fxFlexFill >
  <mat-sidenav #sidenav class="side-menu" fxShow="true" fxHide.gt-sm>
    <button mat-icon-button (click)="sidenav.close()" class="side_c-btn"><mat-icon>highlight_off</mat-icon> </button>
    <div class="side-menu-links">
      <p><a href="#" mat-button>Home</a></p>
      <p><a href="#" mat-button>News</a></p>
      <p><a href="#" mat-button>Coronavirus</a></p>
      <p><a href="#" mat-button>Business</a></p>
      <p><a href="#" mat-button>Opinions</a></p>
      <p><a href="#" mat-button>Technology</a></p>
      <p><a href="#" mat-button>Sports</a></p>
      <p><a href="#" mat-button>Entertainment</a></p>
    </div>
 
    <div class="footer">
      <div class="copy-rights">
        <p>Copyrights &copy; 2020 All Rights are Reserved</p>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>