
.example-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .sasl{

    z-index: 9999;
    position: fixed;
    background-color: #ffffff;
    color: #222222;
  }
  .active{
    color: red;;
  }
  .menu-nav{
    background-color: #ffffff;
    margin-top:56px;
    color: #222222;
  }
  .side_c-btn{
    float: right;
  }
  .side-menu-links{
    padding-left:10px;
  }
  .copy-rights{
    padding:0 10px;
    text-align: center;
  }
  .mat-drawer{
    position:fixed;
    width: 250px;
    top:54px;
  }
.logo-text{
    display: flex;
}
.site-title{
    margin:0 auto;
}
.menu_nav{
    margin:0 auto; 
}